html, body, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
 }
 /*Added from County github to help margin padding*/

body {
    
    background-color: white;
    text-align: center;
}

#logoimg{
    width : 50vw;
}

.blurb {
    padding-bottom: 2vw;
}

.bar_wrapper{
    width : 100%; 
    height: 4vw;
}

#searchicon {
    height: 2vw;
    width: auto;
    transform : translateX(25pt);
    padding-top: 10vw;
    position: relative;
    top: 2px;
}

#mic_container{
    background-image: linear-gradient(to right,#82fddaca, #1bcc9a);
    width: min-content;
    display: inline-block;
    height: auto;
    border-radius: 100%;
    transform : translateX(5pt);
    position: relative;
    top: 7px;
}
#mic_container.active   {
    transition: filter .2s ease-out;

    filter: invert(100%);

    border: 50pt;
}

#micicon {
    height: 2vw;
}

#searchbar{
    padding-left: 40px;
    width: 80%;
    height: 100%;
    background-color: none;
    border-radius: 100pt;
}



